---
- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ helm_install_uid }}"
    group: "{{ helm_install_gid }}"
    mode: 0755
    state: directory
  loop:
    - /var/lib/yake
    - "{{ playbook_dir }}/.local"

- name: Create charts directory
  become: true
  ansible.builtin.file:
    path: /var/lib/yake/charts
    owner: "{{ helm_install_uid }}"
    group: "{{ helm_install_gid }}"
    mode: 0755
    state: directory

- name: Sync helm charts
  ansible.posix.synchronize:
    src: "{{ helm_install_charts_dir }}"
    dest: /var/lib/yake/charts/

- name: Run helm container
  become: "{{ helm_install_become }}"
  community.docker.docker_container:
    name: helm
    command: sleep infinity
    image: "{{ helm_install_container_registry }}/{{ helm_install_container_image }}:{{ helm_install_container_tag }}"
    env:
      USER_ID: "{{ helm_install_uid }}"
      GROUP_ID: "{{ helm_install_gid }}"
    volumes:
      - /var/lib/yake:/var/lib/yake
      - /tmp:/tmp
    state: started
  when: helm_install_container_engine == "docker"

- name: Run helm container
  become: "{{ helm_install_become }}"
  containers.podman.podman_container:
    name: helm
    command: sleep infinity
    image: "{{ helm_install_container_registry }}/{{ helm_install_container_image }}:{{ helm_install_container_tag }}"
    env:
      USER_ID: "{{ helm_install_uid }}"
      GROUP_ID: "{{ helm_install_gid }}"
    volumes:
      - /var/lib/yake:/var/lib/yake
      - /tmp:/tmp
    state: started
  when: helm_install_container_engine == "podman"

- name: Copy helm script
  become: true
  ansible.builtin.copy:
    src: helm
    dest: "{{ playbook_dir }}/.local/yake-helm"
    mode: 0755
    owner: root
    group: root
