[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0.3"
ansible-core = "==2.20.1"
docker = "==7.1.0"
kubernetes = "==34.1.0"
openstacksdk = "==4.8.0"
python-gilt = "==2.2.4"
requests = "==2.32.5"

[dev-packages]

[requires]
python_version = "3.13"
