---
apiVersion: core.gardener.cloud/v1beta1
kind: CloudProfile
metadata:
  name: {{ item.name }}
spec:
  type: openstack
  providerConfig:
    apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
    kind: CloudProfileConfig
    storageClasses:
{% for sc in item.storageclasses %}
      - name: {{ sc.name }}
        default: {{ sc.default }}
        provisioner: cinder.csi.openstack.org
        volumeBindingMode: WaitForFirstConsumer
        parameters:
          type: {{ sc.type }}
          availability: {{ sc.availability }}
{% endfor %}
    constraints:
      floatingPools:
{% for fp in item.floating_pools %}
        - name: {{ fp.name }}
{% endfor %}
      loadBalancerProviders:
{% for lb in item.loadbalancer_providers %}
        - name: {{ lb.name }}
{% endfor %}
    keystoneURLs:
{% for url in item.keystone_urls %}
      - region: {{ url.region }}
        url: "{{ url.url }}"
{% endfor %}
    machineImages:
{% for mi in item.machine_images %}
      - name: {{ mi.name }}
        versions:
{% for v in mi.versions %}
          - version: {{ v.version }}
            image: "{{ v.image }}"
            regions:
{% for r in v.regions %}
              - name: {{ r.name }}
                id: {{ r.id }}
{% endfor %}
{% endfor %}
{% endfor %}
    serverGroupPolicies:
      - affinity
      - soft-affinity
      - anti-affinity
      - soft-anti-affinity
    nodeVolumeAttachLimit: 20
  kubernetes:
    versions:
{% for v in item.kubernetes_versions %}
      - version: {{ v.version }}
        classification: {{ v.classification }}
{% endfor %}
  machineImages:
{% for mi in item.machine_images %}
    - name: {{ mi.name }}
      versions:
{% for v in mi.versions %}
        - version: {{ v.version }}
{% endfor %}
{% endfor %}
  machineTypes:
{% for mt in item.machinetypes %}
    - name: {{ mt.name }}
      cpu: {{ mt.cpu }}
      gpu: {{ mt.gpu }}
      memory: {{ mt.memory }}
{% endfor %}
  volumeTypes:
{% for sc in item.storageclasses %}
    - name: {{ sc.type }}
      class: {{ sc.name }}
{% endfor %}
  regions:
{% for region in item.regions %}
    - name: {{ region.name }}
      zones:
{% for zone in region.zones %}
        - name: {{ zone }}
{% endfor %}
{% endfor %}
