---
apiVersion: core.gardener.cloud/v1beta1
kind: CloudProfile
metadata:
  name: {{ gardener_operator_openstack_cloudprofile_name }}
spec:
  type: openstack
  providerConfig:
    apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
    kind: CloudProfileConfig
    storageClasses:
      - name: {{ gardener_operator_managed_seed_openstack_storageclass_name }}
        default: true
        provisioner: cinder.csi.openstack.org
        volumeBindingMode: WaitForFirstConsumer
        parameters:
          type: {{ gardener_operator_managed_seed_openstack_storageclass_type }}
          availability: {{ gardener_operator_managed_seed_openstack_zones[0] }}
    constraints:
      floatingPools:
{% for p in gardener_operator_cloudprofile_openstack_floating_pools %}
        - name: {{ p.name }}
{% endfor %}
      loadBalancerProviders:
{% for p in gardener_operator_cloudprofile_openstack_loadbalancer_providers %}
        - name: {{ p.name }}
{% endfor %}
    keystoneURLs:
      - region: {{ gardener_operator_managed_seed_openstack_region_name }}
        url: {{ gardener_operator_managed_seed_openstack_auth_url }}
    machineImages:
      - name: gardenlinux
        versions:
{% for v in gardener_operator_cloudprofile_gardener_versions %}
          - version: {{ v.version }}.0
            image: "{{ v.image_name }}"
            regions:
              - name: {{ gardener_operator_openstack_region_name }}
                id: {{ v.id }}
{% endfor %}
{% if gardener_operator_os_ubuntu_enable %}
      - name: ubuntu
        versions:
{% for v in gardener_operator_cloudprofile_ubuntu_versions %}
          - version: {{ v.version }}
            image: "{{ v.image_name }}"
            regions:
              - name: {{ gardener_operator_openstack_region_name }}
                id: {{ v.id }}
{% endfor %}
{% endif %}
    serverGroupPolicies:
      - affinity
      - soft-affinity
      - anti-affinity
      - soft-anti-affinity
    nodeVolumeAttachLimit: 20
  kubernetes:
    versions:
{% for v in gardener_operator_cloudprofile_kubernetes_versions %}
      - version: {{ v.version }}
        classification: {{ v.classification }}
{% endfor %}
  machineImages:
    - name: gardenlinux
      versions:
{% for v in gardener_operator_cloudprofile_gardener_versions %}
        - version: {{ v.version }}.0
{% endfor %}
{% if gardener_operator_os_ubuntu_enable %}
    - name: ubuntu
      versions:
{% for v in gardener_operator_cloudprofile_ubuntu_versions %}
        - version: {{ v.version }}
{% endfor %}
{% endif %}
  machineTypes:
{% for type in gardener_operator_openstack_machinetypes %}
    - name: {{ type.name }}
      cpu: {{ type.cpu }}
      gpu: {{ type.gpu }}
      memory: {{ type.memory }}
{% endfor %}
  volumeTypes:
    - name: {{ gardener_operator_managed_seed_openstack_storageclass_type }}
      class: {{ gardener_operator_managed_seed_openstack_storageclass_name }}
  regions:
    - name: {{ gardener_operator_managed_seed_openstack_region_name }}
      zones:
        - name: {{ gardener_operator_managed_seed_openstack_zones[0] }}
