---
apiVersion: v1
kind: Secret
metadata:
  name: openstack-cloud
  namespace: garden
  labels:
    gardener.cloud/role: internal-domain
  annotations:
    dns.gardener.cloud/provider: openstack-designate
    dns.gardener.cloud/domain: {{ gardener_operator_garden_url }}
type: Opaque
data:
  authURL: {{ gardener_operator_openstack_auth_url | b64encode }}
  tenantName: {{ gardener_operator_openstack_project_name | b64encode }}
  domainName: {{ gardener_operator_openstack_domain_name | b64encode }}
  applicationCredentialID: {{ gardener_operator_openstack_application_credential_id | b64encode }}
  applicationCredentialName: {{ gardener_operator_openstack_application_credential_name | b64encode }}
  applicationCredentialSecret: {{ gardener_operator_openstack_application_credential_secret | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: default-domain
  namespace: garden
  labels:
    gardener.cloud/role: default-domain
  annotations:
    dns.gardener.cloud/provider: openstack-designate
    dns.gardener.cloud/domain: {{ gardener_operator_garden_url }}
type: Opaque
data:
  authURL: {{ gardener_operator_openstack_auth_url | b64encode }}
  tenantName: {{ gardener_operator_openstack_project_name | b64encode }}
  domainName: {{ gardener_operator_openstack_domain_name | b64encode }}
  applicationCredentialID: {{ gardener_operator_openstack_application_credential_id | b64encode }}
  applicationCredentialName: {{ gardener_operator_openstack_application_credential_name | b64encode }}
  applicationCredentialSecret: {{ gardener_operator_openstack_application_credential_secret | b64encode }}
{% if gardener_operator_backups_enable %}
---
apiVersion: v1
kind: Secret
metadata:
  name: backups-seeds
  namespace: garden
type: Opaque
stringData:
  {{ gardener_operator_backups_internal_seed_credentials }}
{% endif %}
---
apiVersion: core.gardener.cloud/v1beta1
kind: ControllerDeployment
metadata:
  name: yake-controlplane-cert
type: helm
providerConfig:
  chart: H4sIAAAAAAAAA+2VPW/bMBCGPfNXHDLVBaTo0wK8FVkyFB06ZGeps01EIgWSdloY+e8lFVlpjERpECNBkHsG64Pm3UveK96amxoVmgh/O1RWahVl+TVGFrE+n52GxFOVZX/1HF/7+zQv0qzMFovwPi2TvJhBeaL8k2yt4wZgZrR2U/97bvyDsp6q/8WGGxf/4W3zqhyhwIuieLL+WZoe1X9RlfkMkhOtcZJPXn/eySs0oe5L2KWMd934mMRJnLIarTCyc/2rb3CJTQsi+AJW2oDbIIx+gdFDTPEWlzBlLrZ7mOe9N+KTMvn9O2y7hju0r+sELz//qyTP6Px/C/6z/gKNkysp/MPL+8Fz5/+iqB7WP8uypKLz/y3Y7yOQK/jSE1/xZot2Hh9cMY+DD/xvh2IeS7U2aP1wrVsu1Rxub9m//SOYZJwai0Zv6/Ndyptuw1N2LVW9hIt7H7EWHa+540sGcNcvQrJoyBLdyKYWPtgwajsuxpbCgqAwT+i21epHP/vsa7zfw7CGex0haL+Ag/5Bvld/5iNIa7dofuIqhDsIGbKAVyQMuqPRp2Q+JvQQ4jv/hY29iwJHe2R04ycIrZy/8x+cwihsJQu1QVWHbX5vmxAEQRAEQRAEQRAEQRAEQRAEQRAE8QH4C4Y25D8AKAAA
---
apiVersion: core.gardener.cloud/v1beta1
kind: ControllerRegistration
metadata:
  name: yake-controlplane-cert
spec:
  deployment:
    deploymentRefs:
    - name: yake-controlplane-cert
    policy: Always
    seedSelector:
      matchLabels:
        yake.cloud/generate-controlplane-cert: "true"
---
apiVersion: seedmanagement.gardener.cloud/v1alpha1
kind: Gardenlet
metadata:
  name: internal-seed
  namespace: garden
spec:
  deployment:
    replicaCount: 1
    revisionHistoryLimit: 2
    helm:
      ociRepository:
        ref: europe-docker.pkg.dev/gardener-project/releases/charts/gardener/gardenlet:v{{ gardener_operator_version }}
  config:
    apiVersion: gardenlet.config.gardener.cloud/v1alpha1
    kind: GardenletConfiguration
    controllers:
      shoot:
        reconcileInMaintenanceOnly: true
        respectSyncPeriodOverwrite: true
      shootState:
        concurrentSyncs: 0
    logging:
      enabled: true
      vali:
        enabled: true
      shootNodeLogging:
        shootPurposes:
        - infrastructure
        - production
        - development
        - evaluation
    seedConfig:
      apiVersion: core.gardener.cloud/v1beta1
      kind: Seed
      spec:
        taints:
          - key: seed.gardener.cloud/protected
{% if gardener_operator_backups_enable %}
        backup:
          provider: {{ gardener_operator_backups_provider }}
          region: {{ gardener_operator_backups_region }}
          bucketName: {{ gardener_operator_backups_internal_seed_bucket_name }}
          credentialsRef:
            apiVersion: v1
            kind: Secret
            name: backups-seeds
            namespace: garden
{% endif %}
        dns:
          provider:
            secretRef:
              name: openstack-cloud
              namespace: garden
            type: openstack-designate
          internal:
            credentialsRef:
              apiVersion: v1
              kind: Secret
              name: openstack-cloud
              namespace: garden
            type: openstack-designate
            domain: internal.{{ gardener_operator_garden_url }}
        ingress:
          controller:
            kind: nginx
          domain: internal.{{ gardener_operator_garden_url }}
        networks:
          nodes: {{ gardener_operator_nodes_cidr }}
          pods: 10.0.0.0/16
          services: {{ gardener_operator_services_cidr }}
          shootDefaults:
            nodes: 100.100.0.0/16
            pods: 100.101.0.0/16
            services: 100.102.0.0/16
        provider:
          region: {{ gardener_operator_openstack_region_name }}
          type: openstack
          zones: {{ gardener_operator_openstack_zones }}
        settings:
          excessCapacityReservation:
            enabled: {{ gardener_operator_excess_capacity_reservation }}
          scheduling:
            visible: false
          verticalPodAutoscaler:
            enabled: true
