---
apiVersion: v1
kind: Secret
metadata:
  name: openstack-cloud
  namespace: garden
type: Opaque
data:
  OS_AUTH_URL: {{ gardener_operator_openstack_auth_url | b64encode }}
  OS_PROJECT_NAME: {{ gardener_operator_openstack_project_name | b64encode }}
  OS_DOMAIN_NAME: {{ gardener_operator_openstack_domain_name | b64encode }}
  OS_REGION_NAME: {{ gardener_operator_openstack_region_name | b64encode }}
  OS_APPLICATION_CREDENTIAL_ID: {{ gardener_operator_openstack_application_credential_id | b64encode }}
  OS_APPLICATION_CREDENTIAL_NAME: {{ gardener_operator_openstack_application_credential_name | b64encode }}
  OS_APPLICATION_CREDENTIAL_SECRET: {{ gardener_operator_openstack_application_credential_secret | b64encode }}
---
apiVersion: operator.gardener.cloud/v1alpha1
kind: Garden
metadata:
  name: gardener
spec:
  dns:
    providers:
    - name: primary
      type: openstack-designate
      secretRef:
        name: openstack-cloud
        namespace: garden
  runtimeCluster:
    ingress:
      domains:
      - name: ingress.runtime-garden.{{ gardener_operator_gardener_url }}
        provider: primary
      controller:
        kind: nginx
    networking:
      nodes:
      - {{ gardener_operator_nodes_cidr }}
      pods:
      # - 10.1.0.0/16
      - {{ gardener_operator_pods_cidr }}
      services:
      # - 10.2.0.0/16
      - {{ gardener_operator_services_cidr }}
    provider:
      region: {{ gardener_operator_openstack_region_name }}
      zones: {{ gardener_operator_openstack_zones }}
    settings:
      verticalPodAutoscaler:
        enabled: true
      topologyAwareRouting:
        enabled: false
  virtualCluster:
    dns:
      domains:
      - name: virtual-garden.{{ gardener_operator_gardener_url }}
        provider: primary
    etcd:
      main:
        # backup:
        #   provider: s3
        #   region: {{ gardener_operator_openstack_region_name }}
        #   bucketName: gardener-operator
        #   secretRef:
        #     name: openstack-cloud
        storage:
          capacity: 25Gi
      events:
        storage:
          capacity: 10Gi
    kubernetes:
      version: {{ gardener_operator_kubernetes_version }}
    gardener:
      clusterIdentity: {{ gardener_operator_cluster_name }}
      gardenerAPIServer:
        admissionPlugins:
        - name: ShootVPAEnabledByDefault
      gardenerDashboard: {}
        # frontendConfigMapRef:
        #   name: gardener-dashboard-frontend
        # terminal:
        #   allowedHosts:
        #   - "*.internal.{{ gardener_operator_gardener_url }}"
        #   - "*.seeds.{{ gardener_operator_gardener_url }}"
        #   container:
        #     image: europe-docker.pkg.dev/gardener-project/releases/gardener/ops-toolbelt:latest
      gardenerDiscoveryServer: {}
    maintenance:
      timeWindow:
        begin: 220000+0100
        end: 230000+0100
    networking:
      services:
      - 100.64.0.0/13
