{%- set _ns = namespace(items=[]) -%}
{%- for key, value in gardener_operator_proxy_env.items() -%}
{%- set _ns.items = _ns.items + ['{"name":"' + (key | upper) + '","value":"' + value + '"}'] -%}
{%- endfor -%}
{%- set _cel_env = '[' + (_ns.items | join(', ')) + ']' -%}
---
apiVersion: policies.kyverno.io/v1
kind: MutatingPolicy
metadata:
  name: inject-proxy-env
spec:
  matchConstraints:
    resourceRules:
    - apiGroups: [""]
      apiVersions: ["v1"]
      resources: ["pods"]
      operations: ["CREATE"]
    namespaceSelector:
      matchLabels:
        gardener.cloud/role: extension
  mutations:
  - patchType: ApplyConfiguration
    applyConfiguration:
      expression: |
        Object{
          spec: Object.spec{
            containers: object.spec.containers.map(c, Object.spec.containers{
              name: c.name,
              env: (has(c.env) ? c.env : []) + {{ _cel_env }}
            })
          }
        }
  - patchType: ApplyConfiguration
    applyConfiguration:
      expression: |
        has(object.spec.initContainers) ?
        Object{
          spec: Object.spec{
            initContainers: object.spec.initContainers.map(ic, Object.spec.initContainers{
              name: ic.name,
              env: (has(ic.env) ? ic.env : []) + {{ _cel_env }}
            })
          }
        } : Object{}
