---
apiVersion: v1
kind: Secret
metadata:
  name: openstack-credentials-{{ item.name }}
  namespace: garden
type: Opaque
data:
  authURL: {{ item.openstack.auth_url | b64encode }}
  tenantName: {{ item.openstack.project_name | b64encode }}
  domainName: {{ item.openstack.domain_name | b64encode }}
  regionName: {{ item.openstack.region_name | b64encode }}
  applicationCredentialID: {{ item.openstack.application_credential_id | b64encode }}
  applicationCredentialName: {{ item.openstack.application_credential_name | b64encode }}
  applicationCredentialSecret: {{ item.openstack.application_credential_secret | b64encode }}
---
apiVersion: security.gardener.cloud/v1alpha1
kind: CredentialsBinding
metadata:
  labels:
    cloudprofile.garden.sapcloud.io/name: {{ item.cloudprofile_name }}
  name: credentialsbinding-{{ item.name }}
  namespace: garden
credentialsRef:
  apiVersion: v1
  kind: Secret
  name: openstack-credentials-{{ item.name }}
  namespace: garden
provider:
  type: openstack
{% if item.settings.backup_enabled %}
---
apiVersion: v1
kind: Secret
metadata:
  name: backup-credentials-{{ item.name }}
  namespace: garden
type: Opaque
stringData:
  {{ item.settings.backup.credentials | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
---
apiVersion: core.gardener.cloud/v1beta1
kind: Shoot
metadata:
  name: {{ item.name }}
  namespace: garden
spec:
  tolerations:
    - key: seed.gardener.cloud/protected
  extensions:
    - type: shoot-cert-service
    - type: shoot-dns-service
  seedName: internal-seed
  cloudProfile:
    name: {{ item.cloudprofile_name }}
  region: {{ item.openstack.region_name }}
  credentialsBindingName: credentialsbinding-{{ item.name }}
  dns:
    domain: {{ item.name }}.{{ gardener_operator_managed_seeds_project_name }}.{{ gardener_operator_garden_url }}
    providers:
      - type: openstack-designate
        secretName: openstack-cloud
  provider:
    type: openstack
    infrastructureConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: InfrastructureConfig
      floatingPoolName: public
      networks:
        workers: 10.120.0.0/16
    controlPlaneConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: ControlPlaneConfig
      loadBalancerProvider: amphora
    workers:
{% for w in item.workers %}
      - name: {{ w.name }}
        machine:
          type: {{ w.machinetype }}
          image:
            name: {{ w.image_name }}
            version: {{ w.image_version }}
        minimum: {{ w.minimum }}
        maximum: {{ w.maximum }}
        volume:
          type: {{ w.volume_type }}
          size: {{ w.volume_size }}
        zones: {{ w.zones }}
{% endfor %}
  networking:
    nodes: 10.120.0.0/16
    pods: 100.72.0.0/16
    services: 100.80.0.0/13
    type: {{ item.networking_type }}
  kubernetes:
    version: {{ item.kubernetes_version }}
  maintenance:
    autoUpdate:
      kubernetesVersion: true
      machineImageVersion: true
  addons:
    kubernetesDashboard:
      enabled: false
    nginxIngress:
      enabled: false
  purpose: infrastructure
---
apiVersion: seedmanagement.gardener.cloud/v1alpha1
kind: ManagedSeed
metadata:
  name: {{ item.name }}
  namespace: garden
spec:
  shoot:
    name: {{ item.name }}
  gardenlet:
    config:
      apiVersion: gardenlet.config.gardener.cloud/v1alpha1
      kind: GardenletConfiguration
      seedConfig:
        metadata:
          labels:
            name: {{ item.name }}
            yake.cloud/generate-controlplane-cert: "true"
        taints:
          seed.gardener.cloud/protected: false
        spec:
{% if item.settings.backup_enabled %}
          backup:
            provider: {{ item.settings.backup.provider }}
            region: {{ item.settings.backup.region }}
            bucketName: {{ item.settings.backup.bucket_name }}
            credentialsRef:
              apiVersion: v1
              kind: Secret
              name: backup-credentials-{{ item.name }}
              namespace: garden
{% endif %}
          dns:
            provider:
              type: openstack-designate
              secretRef:
                name: openstack-cloud
                namespace: garden
          ingress:
            domain: ingress.{{ item.name }}.{{ gardener_operator_managed_seeds_project_name }}.{{ gardener_operator_garden_url }}
            controller:
              kind: nginx
          networks:
            nodes: 10.120.0.0/16
            pods: 100.72.0.0/16
            services: 100.80.0.0/13
            shootDefaults:
              nodes: 10.121.0.0/16
              pods: 100.73.0.0/16
              services: 100.88.0.0/13
          provider:
            type: openstack
            region: {{ item.openstack.region_name }}
          settings:
            scheduling:
              visible: true
            excessCapacityReservation:
              enabled: {{ item.settings.excess_capacity_reservation }}
