---
apiVersion: v1
kind: Secret
metadata:
  name: managed-seed-cloud
  namespace: garden
type: Opaque
data:
  authURL: {{ gardener_operator_managed_seed_openstack_auth_url | b64encode }}
  tenantName: {{ gardener_operator_managed_seed_openstack_project_name | b64encode }}
  domainName: {{ gardener_operator_managed_seed_openstack_domain_name | b64encode }}
  regionName: {{ gardener_operator_managed_seed_openstack_region_name | b64encode }}
  applicationCredentialID: {{ gardener_operator_managed_seed_openstack_application_credential_id | b64encode }}
  applicationCredentialName: {{ gardener_operator_managed_seed_openstack_application_credential_name | b64encode }}
  applicationCredentialSecret: {{ gardener_operator_managed_seed_openstack_application_credential_secret | b64encode }}
---
apiVersion: security.gardener.cloud/v1alpha1
kind: CredentialsBinding
metadata:
  labels:
    cloudprofile.garden.sapcloud.io/name: {{ gardener_operator_cloudprofile_name }}
  name: seeds
  namespace: garden
credentialsRef:
  apiVersion: v1
  kind: Secret
  name: managed-seed-cloud
  namespace: garden
provider:
  type: openstack
---
apiVersion: core.gardener.cloud/v1beta1
kind: Shoot
metadata:
  name: {{ gardener_operator_managed_seed_name }}
  namespace: garden
spec:
  tolerations:
    - key: seed.gardener.cloud/protected
  extensions:
    - type: shoot-cert-service
    - type: shoot-dns-service
  seedName: internal-seed
  cloudProfile:
    name: {{ gardener_operator_cloudprofile_name }}
  region: {{ gardener_operator_openstack_region_name }}
  credentialsBindingName: seeds
  dns:
    domain: {{ gardener_operator_managed_seed_name }}.{{ gardener_operator_garden_project_name }}.{{ gardener_operator_garden_url }}
    providers:
      - type: openstack-designate
        secretName: openstack-cloud
  provider:
    type: openstack
    infrastructureConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: InfrastructureConfig
      floatingPoolName: public
      networks:
        workers: 10.120.0.0/16
    controlPlaneConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: ControlPlaneConfig
      loadBalancerProvider: amphora
    workers:
    - name: worker-hpd5z
      machine:
        type: {{ gardener_operator_managed_seed_machinetype }}
        image:
          name: gardenlinux
          version: {{ gardener_operator_openstack_gardenlinux_version }}.0
      minimum: 2
      maximum: 5
      volume:
        type: {{ gardener_operator_provider_openstack_storageclass_type }}
        size: 50Gi
      zones: {{ gardener_operator_openstack_zones }}
  networking:
    nodes: 10.120.0.0/16
    pods: 100.72.0.0/16
    services: 100.80.0.0/13
    type: cilium
  kubernetes:
    version: {{ gardener_operator_kubernetes_version }}
  maintenance:
    autoUpdate:
      kubernetesVersion: true
      machineImageVersion: true
  addons:
    kubernetesDashboard:
      enabled: false
    nginxIngress:
      enabled: false
  purpose: infrastructure
---
apiVersion: seedmanagement.gardener.cloud/v1alpha1
kind: ManagedSeed
metadata:
  name: {{ gardener_operator_managed_seed_name }}
  namespace: garden
spec:
  shoot:
    name: {{ gardener_operator_managed_seed_name }}
  gardenlet:
    config:
      apiVersion: gardenlet.config.gardener.cloud/v1alpha1
      kind: GardenletConfiguration
      seedConfig:
        metadata:
          labels:
            name: {{ gardener_operator_managed_seed_name }}
            yake.cloud/generate-controlplane-cert: "true"
        taints:
          seed.gardener.cloud/protected: false
        spec:
{% if gardener_operator_backups_enable %}
        backup:
          provider: {{ gardener_operator_backups_provider }}
          region: {{ gardener_operator_backups_region }}
          bucketName: {{ gardener_operator_backups_seeds_bucket_name }}
          credentialsRef:
            apiVersion: v1
            kind: Secret
            name: backups-seeds
            namespace: garden
{% endif %}
          dns:
            provider:
              type: openstack-designate
              secretRef:
                name: managed-seed-cloud
                namespace: garden
          ingress:
            domain: ingress.{{ gardener_operator_managed_seed_name }}.{{ gardener_operator_garden_project_name }}.{{ gardener_operator_garden_url }}
            controller:
              kind: nginx
          networks:
            nodes: 10.120.0.0/16
            pods: 100.72.0.0/16
            services: 100.80.0.0/13
            shootDefaults:
              nodes: 10.121.0.0/16
              pods: 100.73.0.0/16
              services: 100.88.0.0/13
          provider:
            type: openstack
            region: {{ gardener_operator_openstack_region_name }}
          settings:
            scheduling:
              visible: true
            excessCapacityReservation:
              enabled: {{ gardener_operator_excess_capacity_reservation }}
