---
apiVersion: v1
kind: Namespace
metadata:
  name: garden
  labels:
    gardener.cloud/role: project
    project.gardener.cloud/name: {{ gardener_operator_garden_project_name }}
  annotations:
    namespace.gardener.cloud/keep-after-project-deletion: "true"
---
apiVersion: core.gardener.cloud/v1beta1
kind: Project
metadata:
  name: {{ gardener_operator_garden_project_name }}
spec:
  namespace: garden
  members:
    - apiGroup: rbac.authorization.k8s.io
      kind: User
      name: {{ gardener_operator_garden_cluster_admin_email }}
      role: admin
      roles:
        - serviceaccountmanager
