---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  annotations:
    cert.gardener.cloud/class: garden
    cert.gardener.cloud/dnsrecord-class: garden
    cert.gardener.cloud/dnsrecord-provider-type: {{ gardener_operator_dns_provider_type }}
    cert.gardener.cloud/dnsrecord-secret-ref: dns-credentials
  name: seed-ingress
  namespace: garden
spec:
  commonName: "*.ingress.{{ gardener_operator_garden_url }}"
  dnsNames:
  - "*.{{ gardener_operator_garden_url }}"
  issuerRef:
    name: garden
    namespace: garden
  secretRef:
    name: seed-ingress-certificate
    namespace: garden
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    gardener.cloud/role: controlplane-cert
  name: seed-ingress-certificate
  namespace: garden
type: Opaque
