---
- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ clusterctl_install_uid }}"
    group: "{{ clusterctl_install_gid }}"
    mode: 0755
    state: directory
  loop:
    - /var/lib/yake
    - "{{ playbook_dir }}/.local"

- name: Run clusterctl container
  become: "{{ clusterctl_install_become }}"
  community.docker.docker_container:
    name: clusterctl
    command: sleep infinity
    image: "{{ clusterctl_install_container_registry }}/{{ clusterctl_install_container_image }}:{{ clusterctl_install_container_tag }}"
    env:
      USER_ID: "{{ clusterctl_install_uid }}"
      GROUP_ID: "{{ clusterctl_install_gid }}"
    volumes:
      - /var/lib/yake:/var/lib/yake
    network_mode: host
    state: started
  when: clusterctl_install_container_engine == "docker"

- name: Run clusterctl container
  become: "{{ clusterctl_install_become }}"
  containers.podman.podman_container:
    name: clusterctl
    command: sleep infinity
    image: "{{ clusterctl_install_container_registry }}/{{ clusterctl_install_container_image }}:{{ clusterctl_install_container_tag }}"
    env:
      USER_ID: "{{ clusterctl_install_uid }}"
      GROUP_ID: "{{ clusterctl_install_gid }}"
    volumes:
      - /var/lib/yake:/var/lib/yake
    network_mode: host
    state: started
  when: clusterctl_install_container_engine == "podman"

- name: Copy clusterctl script
  become: true
  ansible.builtin.copy:
    src: clusterctl
    dest: "{{ playbook_dir }}/.local/yake-clusterctl"
    mode: 0755
    owner: root
    group: root
