[Global]
auth-url={{ clusterapi_cluster_openstack_auth_url }}
application-credential-id={{ clusterapi_cluster_openstack_application_credential_id }}
application-credential-secret={{ clusterapi_cluster_openstack_application_credential_secret }}
region={{ clusterapi_cluster_openstack_region_name }}
domain-name={{ clusterapi_cluster_openstack_domain_name }}
