apiVersion: v1
data:
  cacert: {{ clusterapi_cluster_cloud_cacert_b64 }}
  clouds.yaml: {{ _clusterapi_cluster_cloud_yaml_b64 }}
kind: Secret
metadata:
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"
  name: {{ clusterapi_cluster_name }}-cloud-config
  namespace: default
