apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KubeadmConfigTemplate
metadata:
  name: {{ clusterapi_cluster_name }}-md-0
spec:
  template:
    spec:
      files:
        - path: /etc/containerd/certs.d/docker.io/hosts.toml
          owner: root:root
          permissions: "0644"
          content: |
            server = "https://docker.io"

            [host."{{ clusterapi_cluster_container_registry_cache_dockerhub }}"]
              capabilities = ["pull", "resolve"]
              skip_verify = true
              override_path = true
        - path: /etc/containerd/certs.d/ghcr.io/hosts.toml
          owner: root:root
          permissions: "0644"
          content: |
            server = "https://ghcr.io"

            [host."{{ clusterapi_cluster_container_registry_cache_ghcr }}"]
              capabilities = ["pull", "resolve"]
              skip_verify = true
              override_path = true
        - path: /etc/containerd/certs.d/registry.k8s.io/hosts.toml
          owner: root:root
          permissions: "0644"
          content: |
            server = "https://registry.k8s.io"

            [host."{{ clusterapi_cluster_container_registry_cache_k8s }}"]
              capabilities = ["pull", "resolve"]
              skip_verify = true
              override_path = true
        - path: /etc/containerd/certs.d/quay.io/hosts.toml
          owner: root:root
          permissions: "0644"
          content: |
            server = "https://quay.io"

            [host."{{ clusterapi_cluster_container_registry_cache_quay }}"]
              capabilities = ["pull", "resolve"]
              skip_verify = true
              override_path = true
        - path: /etc/containerd/certs.d/gcr.io/hosts.toml
          owner: root:root
          permissions: "0644"
          content: |
            server = "https://gcr.io"

            [host."{{ clusterapi_cluster_container_registry_cache_gcr }}"]
              capabilities = ["pull", "resolve"]
              skip_verify = true
              override_path = true
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs:
          - name: cloud-provider
            value: external
          - name: provider-id
            value: openstack:///'{% raw %}{{ instance_id }}{% endraw %}'
          name: "{% raw %}{{ local_hostname }}{% endraw %}"
          node-labels: "topology.kubernetes.io/zone={{ clusterapi_cluster_openstack_failure_domain }}"
          taints:
          - key: "node.cilium.io/agent-not-ready"
            value: "true"
            effect: "NoSchedule"
---
apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: {{ clusterapi_cluster_name }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - 10.244.0.0/16
    serviceDomain: cluster.local
  controlPlaneRef:
    apiGroup: controlplane.cluster.x-k8s.io
    kind: KubeadmControlPlane
    name: {{ clusterapi_cluster_name }}-control-plane
  infrastructureRef:
    apiGroup: infrastructure.cluster.x-k8s.io
    kind: OpenStackCluster
    name: {{ clusterapi_cluster_name }}
---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineDeployment
metadata:
  name: {{ clusterapi_cluster_name }}-md-0
spec:
  clusterName: {{ clusterapi_cluster_name }}
  replicas: {{ clusterapi_cluster_worker_machine_count }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiGroup: bootstrap.cluster.x-k8s.io
          kind: KubeadmConfigTemplate
          name: {{ clusterapi_cluster_name }}-md-0
      clusterName: {{ clusterapi_cluster_name }}
      failureDomain: {{ clusterapi_cluster_openstack_failure_domain }}
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: OpenStackMachineTemplate
        name: {{ clusterapi_cluster_name }}-md-0
      version: {{ clusterapi_cluster_kubernetes_version }}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: KubeadmControlPlane
metadata:
  name: {{ clusterapi_cluster_name }}-control-plane
spec:
  kubeadmConfigSpec:
    files:
      - path: /etc/containerd/certs.d/docker.io/hosts.toml
        owner: root:root
        permissions: "0644"
        content: |
          server = "https://docker.io"

          [host."{{ clusterapi_cluster_container_registry_cache_dockerhub }}"]
            capabilities = ["pull", "resolve"]
            skip_verify = true
            override_path = true
      - path: /etc/containerd/certs.d/ghcr.io/hosts.toml
        owner: root:root
        permissions: "0644"
        content: |
          server = "https://ghcr.io"

          [host."{{ clusterapi_cluster_container_registry_cache_ghcr }}"]
            capabilities = ["pull", "resolve"]
            skip_verify = true
            override_path = true
      - path: /etc/containerd/certs.d/registry.k8s.io/hosts.toml
        owner: root:root
        permissions: "0644"
        content: |
          server = "https://registry.k8s.io"

          [host."{{ clusterapi_cluster_container_registry_cache_k8s }}"]
            capabilities = ["pull", "resolve"]
            skip_verify = true
            override_path = true
      - path: /etc/containerd/certs.d/quay.io/hosts.toml
        owner: root:root
        permissions: "0644"
        content: |
          server = "https://quay.io"

          [host."{{ clusterapi_cluster_container_registry_cache_quay }}"]
            capabilities = ["pull", "resolve"]
            skip_verify = true
            override_path = true
      - path: /etc/containerd/certs.d/gcr.io/hosts.toml
        owner: root:root
        permissions: "0644"
        content: |
          server = "https://gcr.io"

          [host."{{ clusterapi_cluster_container_registry_cache_gcr }}"]
            capabilities = ["pull", "resolve"]
            skip_verify = true
            override_path = true
    clusterConfiguration:
      controllerManager:
        extraArgs:
        - name: cloud-provider
          value: external
    initConfiguration:
      nodeRegistration:
        kubeletExtraArgs:
        - name: cloud-provider
          value: external
        - name: provider-id
          value: openstack:///'{% raw %}{{ instance_id }}{% endraw %}'
        name: "{% raw %}{{ local_hostname }}{% endraw %}"
        taints:
        - key: "node.cilium.io/agent-not-ready"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          effect: "NoSchedule"
    joinConfiguration:
      nodeRegistration:
        kubeletExtraArgs:
        - name: cloud-provider
          value: external
        - name: provider-id
          value: openstack:///'{% raw %}{{ instance_id }}{% endraw %}'
        name: "{% raw %}{{ local_hostname }}{% endraw %}"
        taints:
        - key: "node.cilium.io/agent-not-ready"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          effect: "NoSchedule"
  machineTemplate:
    spec:
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: OpenStackMachineTemplate
        name: {{ clusterapi_cluster_name }}-control-plane
  replicas: {{ clusterapi_cluster_control_plane_machine_count }}
  version: {{ clusterapi_cluster_kubernetes_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackCluster
metadata:
  name: {{ clusterapi_cluster_name }}
spec:
  apiServerLoadBalancer:
    enabled: true
    provider: {{ clusterapi_cluster_openstack_loadbalancer_provider }}
  externalNetwork:
    id: {{ clusterapi_cluster_openstack_external_network_id }}
  identityRef:
    cloudName: {{ clusterapi_cluster_openstack_cloud_name }}
    name: {{ clusterapi_cluster_name }}-cloud-config
  managedSecurityGroups:
    allowAllInClusterTraffic: True
  managedSubnets:
{% for subnet in clusterapi_cluster_openstack_managed_subnets %}
    - cidr: {{ subnet.cidr }}
{% if subnet.dns_nameservers | default([]) | length > 0 %}
      dnsNameservers:
{% for ns in subnet.dns_nameservers %}
        - {{ ns }}
{% endfor %}
{% endif %}
{% endfor %}
  controlPlaneAvailabilityZones:
{% for az in clusterapi_cluster_openstack_availability_zones %}
    - {{ az }}
{% endfor %}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ clusterapi_cluster_name }}-control-plane
spec:
  template:
    spec:
      flavor: {{ clusterapi_cluster_control_plane_machine_flavor }}
      image:
        id: {{ clusterapi_cluster_openstack_image_id }}
      sshKeyName: {{ clusterapi_cluster_ssh_key_name }}
{% if clusterapi_cluster_enable_boot_volume | default(false) %}
      rootVolume:
        sizeGiB: {{ clusterapi_cluster_root_volume_size | default(50) }}
        type: {{ clusterapi_cluster_root_volume_type }}
        availabilityZone:
          name: {{ clusterapi_cluster_root_volume_availability_zone }}
{% endif %}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ clusterapi_cluster_name }}-md-0
spec:
  template:
    spec:
      flavor: {{ clusterapi_cluster_worker_machine_flavor }}
      image:
        id: {{ clusterapi_cluster_openstack_image_id }}
      sshKeyName: {{ clusterapi_cluster_ssh_key_name }}
{% if clusterapi_cluster_enable_boot_volume | default(false) %}
      rootVolume:
        sizeGiB: {{ clusterapi_cluster_root_volume_size | default(50) }}
        type: {{ clusterapi_cluster_root_volume_type }}
        availabilityZone:
          name: {{ clusterapi_cluster_root_volume_availability_zone }}
{% endif %}
