---
apiVersion: openstack.k-orc.cloud/v1alpha1
kind: Image
metadata:
  name: {{ clusterapi_cluster_openstack_image_name }}
  namespace: default
spec:
  cloudCredentialsRef:
    cloudName: openstack
    secretName: {{ clusterapi_cluster_name }}-cloud-config
  managementPolicy: managed
  managedOptions:
    onDelete: detach
  properties:
    minDiskGB: 20
    minMemoryMB: 512
  resource:
    name: {{ clusterapi_cluster_openstack_image_name }}
    content:
      diskFormat: raw
      download:
        url: https://{{ clusterapi_cluster_openstack_swift_image_url }}
        hash:
          algorithm: sha256
          value: {{ clusterapi_cluster_image_hash }}
