---
gardener_operator_uid: "{{ ansible_facts.user_uid | string }}"
gardener_operator_gid: "{{ ansible_facts.user_gid | string }}"
gardener_operator_clusterapi_name: garden

# renovate: datasource=github-releases depName=gardener/gardener
gardener_operator_version: '1.135.1'
gardener_operator_helm_values:
  replicaCount: 1

gardener_operator_keycloak_enabled: false
# Will install ingress-nginx. Set to false to install with the default traefik.
gardener_operator_keycloak_k3s_traefik_disabled: true
gardener_operator_keycloak_ingress_nginx_version: '4.14.3'
# renovate: datasource=github-releases depName=cert-manager/cert-manager
gardener_operator_keycloak_cert_manager_version: 'v1.19.3'
gardener_operator_keycloak_cnpg_version: '0.27.0'
gardener_operator_keycloak_cnpg_cluster_version: '0.5.0'
# renovate: datasource=github-releases depName=keycloak/keycloak
gardener_operator_keycloak_operator_version: '26.5.3'
gardener_operator_keycloak_domain: keycloak.example.com
gardener_operator_keycloak_client_secret: ""
gardener_operator_keycloak_realm_name: "gardener"
gardener_operator_keycloak_display_name: "Gardener Realm"

gardener_operator_openstack_auth_url: "https://keystone.example.com"
gardener_operator_openstack_project_name: example
gardener_operator_openstack_domain_name: example
gardener_operator_openstack_region_name: RegionOne
gardener_operator_openstack_application_credential_id: ""
gardener_operator_openstack_application_credential_name: example-creds
gardener_operator_openstack_application_credential_secret: ""
gardener_operator_openstack_zones:
  - zone1

gardener_operator_garden_auth_issuer_url: https://keycloak.example.com/realms/gardener
gardener_operator_garden_auth_audiences:
  - gardener-client
gardener_operator_garden_auth_client_id: ""
gardener_operator_garden_auth_client_secret: ""
gardener_operator_garden_auth_public_name: keycloak

gardener_operator_garden_url: example.com
gardener_operator_cluster_name: prod-garden
# renovate: datasource=github-releases depName=kubernetes/kubernetes
gardener_operator_kubernetes_version: '1.33.7'

# renovate: datasource=github-releases depName=gardener/gardener-extension-provider-openstack
gardener_operator_provider_openstack_version: '1.51.0'
gardener_operator_provider_openstack_storageclass_name: default
gardener_operator_provider_openstack_storageclass_type: default

# renovate: datasource=github-releases depName=gardener/gardener-extension-shoot-cert-service
gardener_operator_shoot_cert_service_version: '1.56.0'
gardener_operator_shoot_cert_service_acme_email: ""
# Staging: https://acme-staging-v02.api.letsencrypt.org/directory
gardener_operator_shoot_cert_service_acme_server: https://acme-v02.api.letsencrypt.org/directory

# renovate: datasource=github-releases depName=gardener/gardener-extension-shoot-dns-service
gardener_operator_shoot_dns_service_version: '1.77.0'
# renovate: datasource=github-releases depName=gardener/gardener-extension-networking-cilium
gardener_operator_networking_cilium_version: '1.46.0'
# renovate: datasource=github-releases depName=gardener/gardener-extension-os-gardenlinux
gardener_operator_os_gardenlinux_version: '0.35.0'

gardener_operator_networking_calico_enabled: false
# renovate: datasource=github-releases depName=gardener/gardener-extension-networking-calico
gardener_operator_networking_calico_version: '1.56.0'

gardener_operator_os_ubuntu_enabled: false
# renovate: datasource=github-releases depName=gardener/gardener-extension-os-ubuntu
gardener_operator_os_ubuntu_version: '1.35.0'

gardener_operator_provider_aws_enabled: false
# renovate: datasource=github-releases depName=gardener/gardener-extension-provider-aws
gardener_operator_provider_aws_version: '1.67.2'

gardener_operator_provider_azure_enabled: false
# renovate: datasource=github-releases depName=gardener/gardener-extension-provider-azure
gardener_operator_provider_azure_version: '1.58.1'

gardener_operator_provider_gcp_enabled: false
# renovate: datasource=github-releases depName=gardener/gardener-extension-provider-gcp
gardener_operator_provider_gcp_version: '1.49.1'

gardener_operator_shoot_oidc_service_enabled: true
# renovate: datasource=github-releases depName=gardener/gardener-extension-shoot-oidc-service
gardener_operator_shoot_oidc_service_version: '0.35.0'

gardener_operator_backup_s3_enabled: false
# renovate: datasource=github-releases depName=metal-stack/gardener-extension-backup-s3
gardener_operator_backup_s3_version: '0.8.1'

gardener_operator_garden_backup_enabled: false
gardener_operator_garden_backup_provider: openstack
gardener_operator_garden_backup_region: "{{ gardener_operator_openstack_region_name }}"
gardener_operator_garden_backup_bucket_name: gardener-operator
# Look up your credentials scheme for your provider
gardener_operator_garden_backup_credentials: ""

gardener_operator_internal_seed_backup_enabled: false
gardener_operator_internal_seed_backup_provider: openstack
gardener_operator_internal_seed_backup_region: "{{ gardener_operator_openstack_region_name }}"
gardener_operator_internal_seed_backup_bucket_name: gardener-internal-seed
# Look up your credentials scheme for your provider
gardener_operator_internal_seed_backup_credentials: ""
# Activate this only on hosts with more than 16Gi of RAM. It defaults to a config reserving 2 CPUs and 6Gi of memory for each pod with no nodeSelector and no tolerations.
gardener_operator_internal_seed_excess_capacity_reservation: "false"

gardener_operator_garden_cluster_admin_email: admin@example.com
gardener_operator_garden_cluster_admin_password: ""

gardener_operator_cloudprofiles_enabled: true
gardener_operator_managed_seeds_enabled: true

gardener_operator_cloudprofiles:
  - name: openstack-a
    storageclasses:
      - name: ssd
        default: "true"
        type: ssd
        availability: nova
    floating_pools:
      - name: public
    loadbalancer_providers:
      - name: amphora
    keystone_urls:
      - region: region-a
        url: "https://openstack.a.example.com:5000"
    machine_images:
      - name: gardenlinux
        versions:
          - version: 1877.7.0
            image: "Garden Linux 1877.7"
            regions:
              - name: region-a
                id: 6ed7d8aa-e770-4061-a8d7-461a83e41c31
    kubernetes_versions:
      - version: 1.33.7
        classification: supported
    machinetypes:
      - name: SCS-4V-8
        cpu: "4"
        gpu: "0"
        memory: 8Gi
      - name: SCS-4V-16
        cpu: "4"
        gpu: "0"
        memory: 16Gi
      - name: SCS-8V-16
        cpu: "8"
        gpu: "0"
        memory: 16Gi
    regions:
      - name: region-a
        zones:
          - nova

gardener_operator_managed_seeds_project_name: seeds

gardener_operator_managed_seeds:
  - name: seed-a
    cloudprofile_name: openstack-a
    networking_type: cilium
    kubernetes_version: 1.33.7
    # if not set, default is internal.{{ gardener_operator_garden_url }}
    # internal_domain: foo.example.com
    openstack:
      auth_url: "https://openstack.a.example.com:5000"
      project_name: "project-a"
      domain_name: "domain-a"
      region_name: "region-a"
      application_credential_id: "cred-id-a"
      application_credential_name: "cred-name-a"
      application_credential_secret: "secret-a"
    worker:
      - name: worker-4v16
        machinetype: SCS-4V-16
        image_name: gardenlinux
        image_version: 1877.7.0
        minimum: 3
        maximum: 15
        volume_type: ssd
        volume_size: 50Gi
        zones:
          - nova
    settings:
      backup_enabled: false
      backup:
        provider: openstack
        region: region-a
        bucket_name: bucket-a
        credentials:  # for openstack
        # authURL: "https://openstack.a.example.com:5000"
        # tenantName: "project-a"
        # domainName: "domain-a"
        # regionName: "region-a"
        # applicationCredentialID: "cred-id-a"
        # applicationCredentialName: "cred-name-a"
        # applicationCredentialSecret: "secret-a"
        # s3ForcePathStyle: true
      excess_capacity_reservation: true
