---
- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ kubectl_install_uid }}"
    group: "{{ kubectl_install_gid }}"
    mode: 0755
    state: directory
  loop:
    - /var/lib/yake
    - "{{ playbook_dir }}/.local"

- name: Run kubectl container
  become: "{{ kubectl_install_become }}"
  community.docker.docker_container:
    name: kubectl
    command: sleep infinity
    image: "{{ kubectl_install_container_registry }}/{{ kubectl_install_container_image }}:{{ kubectl_install_version }}"
    env:
      USER_ID: "{{ kubectl_install_uid }}"
      GROUP_ID: "{{ kubectl_install_gid }}"
    volumes:
      - /var/lib/yake:/var/lib/yake
    network_mode: host
    state: started
  when: kubectl_install_method == "docker"

- name: Download kubectl binary
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_install_version }}/bin/linux/amd64/kubectl"
    dest: "{{ playbook_dir }}/.local/yake-kubectl"
    mode: "0755"
  environment: "{{ kubectl_install_proxy_env }}"
  when: kubectl_install_method == "binary"

- name: Template kubectl script
  become: true
  ansible.builtin.template:
    src: kubectl.j2
    dest: "{{ playbook_dir }}/.local/yake-kubectl"
    mode: 0755
    owner: root
    group: root
  when: kubectl_install_method == "docker"
