---
clusterapi_cluster_become: false

clusterapi_cluster_uid: "{{ ansible_facts.user_uid | string }}"
clusterapi_cluster_gid: "{{ ansible_facts.user_gid | string }}"

clusterapi_cluster_management_cluster_name: "{{ management_cluster_name | default('clusterapi') }}"

clusterapi_cluster_kubeconfig: kubeconfig
clusterapi_cluster_name: garden
clusterapi_cluster_state: present

clusterapi_cluster_container_registry_cache_dockerhub: https://registry.osism.tech/v2/dockerhub
clusterapi_cluster_container_registry_cache_pkg: https://registry.osism.tech/v2/pkg
clusterapi_cluster_container_registry_cache_gcr: https://registry.osism.tech/v2/gcr
clusterapi_cluster_container_registry_cache_ghcr: https://registry.osism.tech/v2/ghcr
clusterapi_cluster_container_registry_cache_quay: https://registry.osism.tech/v2/quay
clusterapi_cluster_container_registry_cache_k8s: https://registry.osism.tech/v2/k8s

clusterapi_cluster_hosts_entries: []
# clusterapi_cluster_hosts_entries:
#   - ip: "12.34.56.54"
#     hostname: "harbor.example.com"

clusterapi_cluster_charts_dir: "{{ playbook_dir }}/charts/"

# renovate: datasource=github-releases depName=kubernetes/kubernetes
clusterapi_cluster_kubernetes_version: 'v1.33.8'

clusterapi_cluster_openstack_auth_url: ""
clusterapi_cluster_openstack_application_credential_id: ""
clusterapi_cluster_openstack_application_credential_secret: ""
clusterapi_cluster_openstack_domain_name: ""
clusterapi_cluster_openstack_region_name: ""
clusterapi_cluster_openstack_tls_verify: false
clusterapi_cluster_openstack_external_network: public
clusterapi_cluster_openstack_ssh_key_name: "{{ clusterapi_cluster_name }}"
clusterapi_cluster_openstack_swift_image_url: ""
clusterapi_cluster_openstack_upload_image: false
clusterapi_cluster_openstack_image_id: ""
clusterapi_cluster_cloud_cacert_b64: ""
clusterapi_cluster_openstack_cloud:
  auth:
    auth_url: "{{ clusterapi_cluster_openstack_auth_url }}"
    application_credential_id: "{{ clusterapi_cluster_openstack_application_credential_id }}"
    application_credential_secret: "{{ clusterapi_cluster_openstack_application_credential_secret }}"
  region_name: "{{ clusterapi_cluster_openstack_region_name }}"
  interface: "public"
  identity_api_version: 3
  auth_type: "v3applicationcredential"
  verify: "{{ clusterapi_cluster_openstack_tls_verify }}"
clusterapi_cluster_openstack_loadbalancer_provider: ovn
clusterapi_cluster_openstack_managed_subnets:
  - cidr: "192.168.0.23/24"
    dns_nameservers:
      - "1.1.1.1"
clusterapi_cluster_openstack_availability_zones:
  - nova
clusterapi_cluster_openstack_failure_domain: "{{ clusterapi_cluster_openstack_availability_zones | first }}"
clusterapi_cluster_openstack_external_network_id: "{{ _clusterapi_cluster_openstack_external_network_id }}"
clusterapi_cluster_openstack_cloud_name: openstack

clusterapi_cluster_control_plane_machine_count: 3
clusterapi_cluster_control_plane_machine_flavor: "SCS-2V-4"
clusterapi_cluster_worker_machine_count: 3
clusterapi_cluster_worker_machine_flavor: "SCS-4V-16"

clusterapi_cluster_enable_boot_volume: true
clusterapi_cluster_root_volume_size: 50
clusterapi_cluster_root_volume_type: default
clusterapi_cluster_root_volume_availability_zone: "{{ clusterapi_cluster_openstack_failure_domain }}"

clusterapi_cluster_csi_snapshotter_enable: false

clusterapi_cluster_extra: {}

clusterapi_cluster_network: cilium

cilium_helm_chart_ref: /var/lib/yake/charts/cilium  # noqa: var-naming[no-role-prefix]
cilium_helm_release_name: cilium  # noqa: var-naming[no-role-prefix]
cilium_helm_release_namespace: kube-system  # noqa: var-naming[no-role-prefix]
cilium_helm_values:  # noqa: var-naming[no-role-prefix]
  policyCIDRMatchMode: nodes
