---
- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ clusterapi_install_uid }}"
    group: "{{ clusterapi_install_gid }}"
    mode: 0755
    state: directory
  loop:
    - /var/lib/yake
    - "{{ playbook_dir }}/.local"

- name: Copy manifest to install ORC
  ansible.builtin.copy:
    src: orc.yaml
    dest: /var/lib/yake/install-orc.yaml
    owner: "{{ clusterapi_install_uid }}"
    group: "{{ clusterapi_install_gid }}"
    mode: 0644

- name: Initialize Cluster API
  become: "{{ clusterapi_install_become }}"
  ansible.builtin.shell: |
    export CLUSTER_TOPOLOGY={{ clusterapi_install_cluster_topology | lower }}
    {{ playbook_dir }}/.local/yake-clusterctl init --infrastructure {{ clusterapi_install_infrastructure }} --kubeconfig /var/lib/yake/kubeconfig.{{ clusterapi_install_clusterapi_name }}
  environment: "{{ clusterapi_install_proxy_env }}"
  args:
    executable: /bin/bash
  register: result  # noqa: var-naming[no-role-prefix]
  changed_when: "'Your management cluster has been initialized successfully' in result.stdout"

- name: Apply orc controller manifest
  kubernetes.core.k8s:
    kubeconfig: "/var/lib/yake/kubeconfig.{{ clusterapi_install_clusterapi_name }}"
    state: present
    src: /var/lib/yake/install-orc.yaml

- name: Wait for all pods to be ready
  become: "{{ clusterapi_install_become }}"
  ansible.builtin.shell: |
    {{ playbook_dir }}/.local/yake-kubectl \
      --kubeconfig /var/lib/yake/kubeconfig.{{ clusterapi_install_clusterapi_name }} \
      get pods --all-namespaces --no-headers | \
      grep -v -E 'Completed|Succeeded' | \
      grep -v '1/1\|2/2\|3/3\|4/4' || true
  register: _not_ready_pods
  until: _not_ready_pods.stdout == ""
  retries: 30
  delay: 10
  changed_when: false
