---
# For now you need to setup helm as binary on your machine
- name: Download k3s install script
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /tmp/k3s-install.sh
    mode: '0755'

- name: Run k3s installer with Traefik disabled
  ansible.builtin.command: sh /tmp/k3s-install.sh
  become: true
  environment:
    INSTALL_K3S_EXEC: "--disable=traefik"
    K3S_KUBECONFIG_MODE: "644"
  args:
    creates: /usr/local/bin/k3s
  when: gardener_operator_keycloak_k3s_traefik_disabled | bool

- name: Run k3s installer
  ansible.builtin.command: sh /tmp/k3s-install.sh
  become: true
  environment:
    K3S_KUBECONFIG_MODE: "644"
  args:
    creates: /usr/local/bin/k3s
  when: not gardener_operator_keycloak_k3s_traefik_disabled | bool

- name: Remove install script
  ansible.builtin.file:
    path: /tmp/k3s-install.sh
    state: absent

- name: Copy k3s kubeconfig to yake dir
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /var/lib/yake/gardener-operator/kubeconfig.k3s
    owner: "{{ gardener_operator_uid }}"
    group: "{{ gardener_operator_gid }}"
    mode: 0644

- name: Template keycloak files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/var/lib/yake/gardener-operator/{{ item }}"
    owner: "{{ gardener_operator_uid }}"
    group: "{{ gardener_operator_gid }}"
    mode: 0644
  loop:
    - clusterissuer.yaml
    - keycloak-cr.yaml

- name: Add ingress-nginx chart repo
  kubernetes.core.helm_repository:  # noqa osism-fqcn
    repo_name: ingress-nginx
    repo_url: https://kubernetes.github.io/ingress-nginx
  when: gardener_operator_keycloak_k3s_traefik_disabled | bool

- name: Install ingress-nginx
  kubernetes.core.helm:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    update_repo_cache: true
    chart_ref: ingress-nginx/ingress-nginx
    chart_version: "{{ gardener_operator_keycloak_ingress_nginx_version }}"
    create_namespace: true
    release_name: ingress-nginx
    release_namespace: ingress-nginx
    release_state: present
    wait: true
    values:
      controller:
        admissionWebhooks:
          patch:
            enabled: true
          failurePolicy: Ignore
        allowSnippetAnnotations: true
        config:
          annotations-risk-level: Critical
          enable-underscores-in-headers: "true"
          strict-validate-path-type: "false"
  when: gardener_operator_keycloak_k3s_traefik_disabled | bool

- name: Install cert-manager
  kubernetes.core.helm:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    chart_ref: oci://quay.io/jetstack/charts/cert-manager
    chart_version: "{{ gardener_operator_keycloak_cert_manager_version }}"
    create_namespace: true
    release_name: cert-manager
    release_namespace: cert-manager
    release_state: present
    wait: true
    values:
      crds:
        enabled: true

- name: Create clusterissuer
  kubernetes.core.k8s:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    state: present
    wait: true
    src: /var/lib/yake/gardener-operator/clusterissuer.yaml

- name: Add cnpg chart repo
  kubernetes.core.helm_repository:  # noqa osism-fqcn
    repo_name: cnpg
    repo_url: https://cloudnative-pg.github.io/charts

- name: Install cnpg-operator
  kubernetes.core.helm:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    update_repo_cache: true
    chart_ref: cnpg/cloudnative-pg
    chart_version: "{{ gardener_operator_keycloak_cnpg_version }}"
    create_namespace: true
    release_name: cnpg
    release_namespace: cnpg-system
    release_state: present
    wait: true

- name: Create keycloak namespace
  kubernetes.core.k8s:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    name: keycloak
    api_version: v1
    kind: Namespace
    state: present
    wait: true

- name: Install cnpg-cluster
  kubernetes.core.helm:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    update_repo_cache: true
    chart_ref: cnpg/cluster
    chart_version: "{{ gardener_operator_keycloak_cnpg_cluster_version }}"
    create_namespace: true
    release_name: kc-database
    release_namespace: keycloak
    release_state: present
    wait: true
    values:
      version:
        postgresql: "17"
      cluster:
        instances: 1
        primaryUpdateMethod: restart
        initdb:
          database: keycloak
          owner: keycloak

- name: Install keycloak-operator
  kubernetes.core.k8s:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    state: present
    namespace: keycloak
    src: "{{ item }}"
    wait: true
  loop:
    - "https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/{{ gardener_operator_keycloak_operator_version }}/kubernetes/keycloaks.k8s.keycloak.org-v1.yml"
    - "https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/{{ gardener_operator_keycloak_operator_version }}/kubernetes/keycloakrealmimports.k8s.keycloak.org-v1.yml"
    - "https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/{{ gardener_operator_keycloak_operator_version }}/kubernetes/kubernetes.yml"

- name: Create keycloak CR
  kubernetes.core.k8s:
    kubeconfig: /var/lib/yake/gardener-operator/kubeconfig.k3s
    state: present
    wait: true
    src: /var/lib/yake/gardener-operator/keycloak-cr.yaml
