---
name: Build charts container image

permissions:
  packages: write

"on":
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/build-charts-container-image.yml
      - Containerfile
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-charts-container-image.yml
      - Containerfile

jobs:
  build-charts-container-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ghcr.io/yakecloud/charts:latest
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref != 'refs/heads/main'

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/yakecloud/charts:latest
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'
