---
name: Build k9s container image

permissions:
  packages: write

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
  push:
    paths:
      - .github/workflows/build-k9s-container-image.yml
      - images/k9s/**
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-k9s-container-image.yml
      - images/k9s/**

jobs:
  build-k9s-container-image:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version:
          - v0.50.18  # renovate: datasource=github-releases depName=derailed/k9s
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: images/k9s
          push: false
          tags: ghcr.io/yakecloud/k9s:${{ matrix.version }}
          build-args: |
            VERSION=${{ matrix.version }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref != 'refs/heads/main'

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: images/k9s
          push: true
          tags: ghcr.io/yakecloud/k9s:${{ matrix.version }}
          build-args: |
            VERSION=${{ matrix.version }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'
