---
name: Build helm container image

permissions:
  packages: write

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
  push:
    paths:
      - .github/workflows/build-helm-container-image.yml
      - images/helm/**
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-helm-container-image.yml
      - images/helm/**

jobs:
  build-helm-container-image:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version:
          - v4.0.0  # renovate: datasource=github-releases depName=helm/helm
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: images/helm
          push: false
          tags: ghcr.io/yakecloud/helm:${{ matrix.version }}
          build-args: |
            VERSION=${{ matrix.version }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref != 'refs/heads/main'

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: images/helm
          push: true
          tags: ghcr.io/yakecloud/helm:${{ matrix.version }}
          build-args: |
            VERSION=${{ matrix.version }}
        if: github.repository == 'YAKEcloud/yake-ansible' && github.ref == 'refs/heads/main'
