---
name: Sync manifests

permissions:
  contents: write
  pull-requests: write

"on":
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  sync-manifests:
    if: github.repository == 'yakecloud/yake-ansible'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Run gilt
        run: |
          pip3 install python-gilt
          gilt overlay

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          commit-message: "chore: sync manifests"
          committer: "YAKE Bot <bot@yake.cloud>"
          author: "YAKE Bot <bot@yake.cloud>"
          signoff: true
          branch: sync-manifests
          delete-branch: true
          title: "chore: sync manifests"
