---
name: Sync charts

permissions:
  contents: write
  pull-requests: write

"on":
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  sync-charts:
    if: github.repository == 'yakecloud/yake-ansible'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6

      - name: Set up go
        uses: actions/setup-go@v6

      - name: Run chart-vendor
        run: |
          make sync-charts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: sync charts"
          committer: "YAKE Bot <bot@yake.cloud>"
          author: "YAKE Bot <bot@yake.cloud>"
          signoff: true
          branch: sync-charts
          delete-branch: true
          title: "chore: sync charts"
