name: Yake-Ansible install

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - '.github/workflows/yake-ansible-install.yml'
      - 'charts/cilium/**'
      - 'group_vars/**'
      - 'roles/**'
      - 'charts.yml'
      - 'Giltfile.yaml'
      - 'requirements.txt'
      - 'requirements.yml'
  workflow_dispatch:

concurrency:
  group: "yake-ansible-install"
  cancel-in-progress: false

jobs:
  yake-ansible-install:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y ssh git curl ca-certificates

      - name: Install requirements
        run: pip install -r requirements.txt && ansible-galaxy install -f -r requirements.yml

      - name: Create group_vars/all.yml from ALL_YML_BASE64 secret
        env:
          ALL_BASE64: ${{ secrets.ALL_YML_BASE64 }}
        run: printf '%s' "$ALL_BASE64" | base64 -d > group_vars/all.yml && chmod 600 group_vars/all.yml

      - name: Run ansible-playbook site.yml
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: ansible-playbook -i localhost, -c local site.yml -e "@group_vars/all.yml"
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"

      - name: Check shoot status
        env:
          SHOOT_NAME: managed-seed-1
          KUBECONFIG: /var/lib/yake/gardener-operator/kubeconfig.vgarden
          TIMEOUT: 900s
        run: |
          ./.local/yake-kubectl --kubeconfig "$KUBECONFIG" -n garden \
            wait shoot "$SHOOT_NAME" \
            --for=condition=EveryNodeReady=True \
            --for=condition=ControlPlaneHealthy=True \
            --for=condition=SystemComponentsHealthy=True \
            --timeout="$TIMEOUT"

      - name: Run cleanup
        if: always()
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: ansible-playbook -i localhost, -c local hack/openstack-cleanup.yml -e "@group_vars/all.yml"
